<!--  Checkout Details -->
  <div class="col-md-6">
    <div class="billing-details">
      <div class="section-title"><h3 class="title">Customer Details</h3></div>
      <div class="form-group"><p><b>Name: </b>  <%= @customer.name%></p></div>
      <div class="form-group"><p><b>Age:  </b>  <%= @customer.age%></p></div>
      <div class="form-group"><p><b>Email:</b>  <%= @customer.credential.email%></p></div>
      <div class="form-group"><p><b>Phone:</b>  <%= @customer.phone%></p></div>
      <div class="form-group"><p><b>Address:</b> <%= @customer.address.line1%>,
                                                <%= @customer.address.city%> -
                                                <%= @customer.address.province.name%> -
                                                <%= @customer.address.postal_code%> </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">

    <div class="order-summary clearfix">
      <div class="section-title"><h3 class="title">Order Summary</h3></div>
        <table class="shopping-cart-table table">
          <thead>
            <tr>
              <th>Product</th>
              <th></th>
              <th class="text-center">Price</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Total</th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            <% @games.each do |g|%>
              <tr>
                <td class="thumb">
                  <%= image_tag g.image.url() unless g.image.url() == nil %>
                  <%= image_tag "/img/placeholder_games_cover.png" if g.image.url() == nil %>
                </td>
                <td class="details">
                  <%= g.name%>
                  <ul>
                    <li><span>Platform: <%=g.platform.name%></span></li>
                  </ul>
                </td>
                <td class="price text-center"><strong> C$<%=g.price%></strong></td>
                <td class="qty text-center"><strong> <%=@cart[g.id.to_s]%></strong></td>
                <td class="total text-center"><strong class="primary-color">C$<%=g.price.to_d*@cart[g.id.to_s].to_d%></strong></td>
              </tr>
            <% end %>

          </tbody>
          <tfoot>
            <tr>
              <th class="empty" colspan="3"></th>
              <th>SUBTOTAL</th>
              <th colspan="2" class="sub-total">C$<%=sprintf('%.2f', @total)%></th>
            </tr>
            <tr>
              <th class="empty" colspan="3"></th>
              <th><%= @customer.address.province.hst ? 'HST' : 'GST/PST'%></th>
              <td colspan="2" class="sub-total text-left">C$<%=sprintf('%.2f', @taxes)%></td>
            </tr>
            <tr>
              <th class="empty" colspan="3"></th>
              <th>TOTAL</th>
              <th colspan="2" class="total">C$<%=sprintf('%.2f', @taxes+@total)%></th>
            </tr>
          </tfoot>
        </table>
    </div>
  </div>

  <div class="col-md-12">
    <div class="pull-right">
        <a class="primary-btn" href="/placeOrder">Place Order</a>
    </div>
  </div>
</div>
<!-- /Checkout Details -->
